//
// Color settings
// -----------------------------------------------------------------------------
$colors: (
	bg: #FFFFFF,
	alt-bg: #ECE4FE,
	alt-bg-light: #ECE4FE99,
	fg: #190248,
	accent: #722EF9,
	border: #DDDDDD,
	input: #999999,
);

//
// Typography settings
// -----------------------------------------------------------------------------
$code-font: 'Consolas', 'Courier New', 'Courier', monospace;
$heading-font: 'Francois One', serif;
$text-font: 'Inter', sans-serif;

$base-font-size: 100%;
$base-font-size-md: 125%;
$base-line-height: 1.75;
$heading-line-height: 1.25;

$white-space: $base-line-height * 1rem;

$font-sizes: (
	small: 0.8rem,
	normal: 1rem,
	medium: 1.25rem,
	large: 1.6rem,
	extra-large: 2.35rem,
);

//
// Layout settings
// -----------------------------------------------------------------------------
$screens: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
);

$gutter-width: $white-space * 2;
$container-max-width: 39.5rem;
$container-wide-max-width: 51.5rem;
$container-extra-wide-max-width: 63.5rem;
$container-full-max-width: none;

//
// Form elements settings
// -----------------------------------------------------------------------------
$input-radius: 0.2rem;
$input-height: $base-line-height * 1.5rem;
$input-padding-y: ( $input-height / 2 ) - ( $base-line-height * 0.5rem );
$input-padding-x: 0.75rem;

$button-border-radius: $input-radius;
$button-height: $input-height;
$button-border-width: 0.1rem;
$button-padding-y: $input-padding-y - $button-border-width;
$button-padding-x: $input-padding-x * 1.25;

//
// Misc settings
// -----------------------------------------------------------------------------
$hr-border-width: 0.2rem;
$table-border-width: 0.2rem;
