/**
 * Body typography styles
 * -----------------------------------------------------------------------------
 */
:root {
	font-size: $base-font-size;

	@include when-screen( md ) {
		font-size: $base-font-size-md;
	}
}

body {
	background-color: get-color( bg );
	color: get-color( fg );
	font-family: $text-font;
	font-size: get-font-size( normal );
	line-height: $base-line-height;
}

/**
 * Block elements typography styles
 * -----------------------------------------------------------------------------
 */
address,
blockquote,
dl, ol, ul,
figure,
h1, h2, h3, h4, h5, h6,
hr,
p,
pre,
table {
	@include make-block( $white-space );
}

address,
pre {
	background-color: get-color( alt-bg );
	padding: $white-space;
}

blockquote {
	border-left: solid 0.25rem get-color( alt-bg );
	padding: $white-space 0 $white-space $white-space;
}

pre {
	font-family: $code-font;
	font-size: $base-font-size;
	overflow: auto;
}

dl {
	dt {
		font-weight: bold;
	}
	dd {
		margin-left: $white-space;
	}
}

ol, ul {
	list-style: decimal;
	padding-left: $white-space;

	ol, ul {
		margin-bottom: 0;
		margin-top: 0;
	}

	li {
		margin-bottom: $white-space / 4;
		margin-top: $white-space / 4;
	}
}

ul {
	list-style: disc;
}

figure {
	height: auto;
	max-width: 100%;

	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1, h2, h3 {
	line-height: $heading-line-height;
}

h1 {
	font-size: get-font-size( extra-large );
}

h2 {
	font-size: get-font-size( large );
}

h3 {
	font-size: get-font-size( medium );
}

h4 {
	font-size: get-font-size( normal );
}

h5, h6 {
	font-size: get-font-size( small );
}

hr {
	border: 0;
	border-bottom: $hr-border-width solid get-color( fg );
}

table {
	background-color: get-color( alt-bg );
	border: $table-border-width solid get-color( border );
	border-collapse: collapse;
	width: 100%;

	td, th {
		border: $table-border-width solid get-color( border );
		padding: $white-space / 4;
	}
}

/**
 * Inline elements typography styles
 * -----------------------------------------------------------------------------
 */
a {
	border-bottom: 1px solid get-color( accent );
	color: get-color( accent );
	text-decoration: none;

	&:active,
	&:hover {
		color: get-color( fg );
	}
}

abbr[title], acronym[title] {
	cursor: help;
	text-decoration: underline;
	text-decoration-style: dotted;
}

big {
	font-size: get-font-size( medium );
}

cite {
	font-weight: bold;
}

code, kbd, tt, var {
	background-color: get-color( alt-bg );
	display: inline-block;
	font-family: $code-font;
	font-size: $base-font-size;
	padding: 3px 6px;
}

del, s, strike {
	text-decoration: line-through;
}

em {
	font-style: italic;
}

figcaption {
	color: get-color( fg );
	display: block !important;
	font-size: get-font-size( small );
	padding: $white-space / 4;
	text-align: center;
}

img {
	height: auto;
	max-width: 100%;
}

ins, u {
	text-decoration: underline;
}

mark {
	background-color: transparent;
	background-image: linear-gradient(rgba(0,0,0,0) 30%, rgba(114,46,249,0.15) 70%);
	font-weight: bold;
}

q {
	&:before {
		content: '\201c';
	}

	&:after {
		content: '\201d';
	}
}

small {
	font-size: get-font-size( small );
}

strong {
	font-weight: bold;
}

sub, sup {
	font-size: get-font-size( small );
	position: relative;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}
