@import 'settings';
@import 'mixins';

//
// Override settings
// -----------------------------------------------------------------------------
$content-wrap-max-width: 720px;
$white-space: $base-font-size * $base-line-height;

//
// Root settings
// -----------------------------------------------------------------------------
:root {
	@each $name, $value in $colors {
		--#{$name}-color: #{$value};
	}

	@each $name, $value in $font-sizes {
		--#{$name}-font-size: #{$value};
	}
}

//
// Common alignment styles styles
// -----------------------------------------------------------------------------
.alignfull {
	margin-left: 0;
	margin-right: 0;
}

.alignwide {
	@include when-screen( lg ) {
		max-width: $content-wrap-max-width + ( $white-space * 2 );
	}
}

//
// Editor styles
// -----------------------------------------------------------------------------
.editor-styles-wrapper {
	color: get-color( txt );
	background-color: get-color( bg );

	& > * {
		color: get-color( txt );
		font-family: $text-font;
		font-size: get-font-size( normal );
		line-height: $base-line-height;
	}

	.editor-post-title__input {
		font-size: get-font-size( extra-large );
	}

	.wp-block {
		@include make-block( $white-space );
		margin-top: 0;
		max-width: $content-wrap-max-width;

		//
		// Left aligned block
		// ---------------------------------------------------------------------
		&[data-align="left"] {
			height: auto;

			& > * {
				float: left;
				margin: ( $white-space / 4 ) $white-space ( $white-space / 4 ) 0;
				max-width: 40%;
			}
		}

		//
		// Right aligned block
		// ---------------------------------------------------------------------
		&[data-align="right"] {
			height: auto;

			& > * {
				float: right;
				margin: ( $white-space / 4 ) 0 ( $white-space / 4 ) $white-space;
				max-width: 40%;
			}
		}

		//
		// Wide aligned block
		// ---------------------------------------------------------------------
		&[data-align="wide"] {
			max-width: $content-wrap-max-width + ( $white-space * 2 );
		}

		//
		// Full aligned block
		// ---------------------------------------------------------------------
		&[data-align="full"] {
			max-width: none;
		}

		//
		// Block color & background color styles
		// ---------------------------------------------------------------------
		&.has-background {
			padding: $white-space;
		}

		@each $name, $value in $colors {
			&.has-#{$name}-color {
				color: get-color( $name );
			}

			&.has-#{$name}-background-color {
				background-color: get-color( $name );
			}
		}

		//
		// Block font size styles
		// ---------------------------------------------------------------------
		@each $name, $value in $font-sizes {
			&.has-#{$name}-font-size {
				font-size: get-font-size( $name );
			}
		}
	}
}

//
// Paragraph block styles
// -----------------------------------------------------------------------------
.editor-styles-wrapper {
	p.wp-block {
		&.has-drop-cap:not(:focus):first-letter {
			font-size: 3.5em;
			font-weight: bold;
			margin: 0.2em 0.1em 0 0;
		}
	}
}

//
// Heading block styles
// -----------------------------------------------------------------------------
.editor-styles-wrapper {
	h1.wp-block,
	h2.wp-block,
	h3.wp-block,
	h4.wp-block,
	h5.wp-block,
	h6.wp-block {
		font-weight: bold;
	}

	h1.wp-block,
	h2.wp-block,
	h3.wp-block {
		line-height: $heading-line-height;
	}

	h1.wp-block {
		font-size: get-font-size( extra-large ) !important;
	}

	h2.wp-block {
		font-size: get-font-size( large ) !important;
	}

	h3.wp-block {
		font-size: get-font-size( medium ) !important;
	}

	h4.wp-block {
		font-size: get-font-size( normal ) !important;
	}

	h5.wp-block,
	h6.wp-block {
		font-size: get-font-size( small ) !important;
	}
}

//
// List block styles
// -----------------------------------------------------------------------------
.editor-styles-wrapper {
	ol, ul {
		list-style: decimal;
		padding-left: $white-space;

		ol, ul {
			margin-bottom: 0;
			margin-top: 0;
		}

		li {
			margin-bottom: $white-space / 4;
			margin-top: $white-space / 4;
		}
	}

	ul {
		list-style: disc;
	}
}

//
// Quote block styles
// -----------------------------------------------------------------------------
.editor-styles-wrapper {
	blockquote.wp-block-quote {
		&,
		&.is-style-large {
			margin-left: $white-space * -1;
			margin-right: $white-space * -1;
			background-color: get-color( alt-bg );
			border-left: none;
			border-right: none;
			padding: $white-space;

			p {
				@include make-block( $white-space / 2 );
				font-size: get-font-size( normal );
				font-style: normal;
			}

			.wp-block-quote__citation {
				color: get-color( txt );
				font-size: get-font-size( small );
				font-weight: bold;
			}
		}

		&.is-style-large {
			p {
				font-size: get-font-size( medium );
			}
		}
	}
}

//
// Code block styles
// -----------------------------------------------------------------------------
.editor-styles-wrapper {
	pre.wp-block-code code,
	pre.wp-block-preformatted {
		background-color: get-color( alt-bg );
		color: get-color( text );
		font-family: $code-font;
		font-size: get-font-size( small );
		overflow-x: auto;
		padding: $white-space;
	}

	pre.wp-block-code {
		border: none;
		padding: 0;
	}
}

//
// Image & video block styles
// -----------------------------------------------------------------------------
.editor-styles-wrapper {
	.wp-block-image,
	.wp-block-video,
	.wp-block-embed.is-type-video {
		figcaption {
			color: get-color( txt );
			font-size: get-font-size( small );
		}
	}
}

//
// Media text block styles
// -----------------------------------------------------------------------------
.editor-styles-wrapper {
	.wp-block-media-text {
		.wp-block-media-text__content {
			padding: $white-space;
		}
	}
}

//
// Cover block styles
// -----------------------------------------------------------------------------
.editor-styles-wrapper {
	.wp-block-cover {
		&.has-background-dim {
			background-color: get-color( txt );
		}
	}
}

//
// Button block styles
// -----------------------------------------------------------------------------
.wp-block-buttons {
	@include make-block( $white-space );
	margin-top: 0;

	.wp-block[data-align="left"] > &,
	.wp-block[data-align="right"] > & {
		float: none;
		margin-bottom: $white-space !important;
		max-width: none;
	}

	.wp-block[data-align="left"] > & {
		margin-right: 0;
		text-align: left;
	}

	.wp-block[data-align="right"] > & {
		margin-left: 0;
		text-align: right;
	}
}

.wp-block-button {
	margin-bottom: 8px !important;

	.wp-block-button__link {
		@include make-button( get-color( accent ), get-color( accent ), $button-border-width, $button-border-radius, get-color( bg ), $button-padding-x, $button-padding-y );

		&:active,
		&:focus,
		&:hover {
			@include make-button( get-color( txt ), get-color( txt ), $button-border-width, $button-border-radius, get-color( bg ), $button-padding-x, $button-padding-y );
		}
	}

	&.is-style-outline {
		.wp-block-button__link {
			@include make-button( transparent, get-color( accent ), $button-border-width, $button-border-radius, get-color( accent ), $button-padding-x, $button-padding-y );

			&:active,
			&:focus,
			&:hover {
				@include make-button( get-color( accent ), get-color( accent ), $button-border-width, $button-border-radius, get-color( bg ), $button-padding-x, $button-padding-y );
			}
		}
	}
}

//
// Column block styles
// -----------------------------------------------------------------------------
.wp-block-columns {
	margin-bottom: 0 !important;
}

.wp-block-column {
	margin-bottom: $white-space;

	&:last-child {
		margin-bottom: 0;
	}

	@media ( min-width: 782px ) {
		margin-bottom: 0;
		margin-right: $white-space;
	}
}

//
// Group block styles
// -----------------------------------------------------------------------------
.wp-block-group {
	.wp-block[data-align="full"] > &,
	.wp-block[data-align="full"] > &.has-background {
		margin-bottom: 0;
		margin-top: 0;
		padding: 0 !important;

		.wp-block-group__inner-container {
			@include make-container( $content-full-wrap-max-width, $gutter-width / 2 );

			.wp-block {
				max-width: none;
			}
		}
	}
}
