@import 'settings';
@import 'mixins';

//
// Override settings
// -----------------------------------------------------------------------------
$font-sizes: (
	small: 0.8 * $base-font-size-md,
	normal: 1 * $base-font-size-md,
	medium: 1.25 * $base-font-size-md,
	large: 1.6 * $base-font-size-md,
	extra-large: 2.05 * $base-font-size-md,
);

$white-space: $base-font-size-md * $base-line-height;

$content-wrap-max-width: ( 720 / 20 ) * $base-font-size-md;
$content-wide-wrap-max-width: ( 960 / 20 ) * $base-font-size-md;

//
// Root settings
// -----------------------------------------------------------------------------
:root {
	@each $name, $value in $colors {
		--#{$name}-color: #{$value};
	}
}

//
// Editor styles
// -----------------------------------------------------------------------------
.editor-styles-wrapper > * {
	background-color: get-color( bg );
	color: get-color( text );
	font-family: $text-font;
	font-size: get-font-size( normal );
	line-height: $base-line-height;
}

.editor-styles-wrapper .wp-block {
	@include make-block( $white-space );
	margin-top: 0;
	max-width: $content-wrap-max-width;

	/**
	 * Default color styles
	 * -----------------------------------------------------------------------------
	 */
	@each $name, $color in $colors {
		&.has-#{$name}-color {
			color: $color;
		}

		&.has-#{$name}-background-color {
			background-color: $color;
		}
	}

	/**
	 * Font size styles
	 * -----------------------------------------------------------------------------
	 */
	@each $name, $size in $font-sizes {
		&.has-#{$name}-font-size {
			font-size: $size;
		}
	}

	&.has-large-font-size,
	&.has-extra-large-font-size {
		line-height: $heading-line-height;
	}
}

/**
 * Paragraph block styles
 * -----------------------------------------------------------------------------
 */
.editor-styles-wrapper {
	p {
		&.has-background {
			padding: $white-space;
		}

		&.has-drop-cap:not(:focus):first-letter {
			font-size: 3.5em;
			font-weight: bold;
			margin: 0.2em 0.1em 0 0;
		}
	}
}

/**
 * Headings block styles
 * -----------------------------------------------------------------------------
 */
.editor-styles-wrapper {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		&.has-background {
			padding: $white-space;
		}
	}

	h1,
	h2,
	h3 {
		line-height: $heading-line-height;
	}

	h1 {
		font-size: get-font-size( extra-large ) !important;
	}

	h2 {
		font-size: get-font-size( large ) !important;
	}

	h3 {
		font-size: get-font-size( medium ) !important;
	}

	h4 {
		font-size: get-font-size( normal ) !important;
	}

	h5,
	h6 {
		font-size: get-font-size( small ) !important;
	}
}

/**
 * List block styles
 * -----------------------------------------------------------------------------
 */
.editor-styles-wrapper {
	ol,
	ul {
		list-style: decimal;
		margin-left: $white-space;

		ol, ul {
			margin-bottom: 0;
			margin-top: 0;
		}

		li {
			margin-bottom: $white-space / 2;
			margin-top: $white-space / 2;
		}
	}

	ul {
		list-style: disc;
	}
}

/**
 * Quote block styles
 * -----------------------------------------------------------------------------
 */
.editor-styles-wrapper {
	blockquote {
		&,
		&.has-text-align-center,
		&.has-text-align-right,
		&.is-style-large {
			background-color: get-color( alt-bg );
			border: none;
			padding: $white-space;
		}

		&.is-style-large {
			p {
				font-style: normal;
			}
		}

		.wp-block-quote__citation {
			color: get-color( text );
			font-size: get-font-size( small );
			font-weight: bold;
		}
	}
}
