:root {
  --markiter-bg-color: #FFFFFF;
  --markiter-alt-bg-color: #ECE4FE;
  --markiter-fg-color: #190248;
  --markiter-accent-color: #722EF9;
  --markiter-border-color: #DDDDDD;
  --markiter-input-color: #999999;
  --markiter-small-font-size: 16px;
  --markiter-normal-font-size: 20px;
  --markiter-medium-font-size: 25px;
  --markiter-large-font-size: 32px;
  --markiter-extra-large-font-size: 41px;
}

.alignfull {
  margin-left: auto;
  margin-right: auto;
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 1200px) {
  .alignwide {
    margin-left: auto;
    margin-right: auto;
    max-width: 1130px;
    padding-left: 0;
    padding-right: 0;
  }
}

.editor-styles-wrapper {
  color: var(--markiter-fg-color);
  background-color: var(--markiter-bg-color);
}
.editor-styles-wrapper > * {
  color: var(--markiter-fg-color);
  font-family: "Inter", sans-serif;
  font-size: var(--markiter-normal-font-size);
  line-height: 1.75;
}
.editor-styles-wrapper .editor-post-title__input {
  font-size: var(--markiter-extra-large-font-size);
}
.editor-styles-wrapper .wp-block {
  margin-bottom: 35px;
  margin-top: 0;
  max-width: 720px;
}
.editor-styles-wrapper .wp-block:last-child {
  margin-bottom: 0;
}
.editor-styles-wrapper .wp-block[data-align=left] {
  height: auto;
}
.editor-styles-wrapper .wp-block[data-align=left] > * {
  float: left;
  margin: 8.75px 35px 8.75px 0;
  max-width: 40%;
}
.editor-styles-wrapper .wp-block[data-align=right] {
  height: auto;
}
.editor-styles-wrapper .wp-block[data-align=right] > * {
  float: right;
  margin: 8.75px 0 8.75px 35px;
  max-width: 40%;
}
.editor-styles-wrapper .wp-block[data-align=wide] {
  max-width: 1130px;
}
.editor-styles-wrapper .wp-block[data-align=full] {
  max-width: none;
}
.editor-styles-wrapper .has-background {
  padding: 35px !important;
}
.editor-styles-wrapper .has-bg-color {
  color: var(--markiter-bg-color);
}
.editor-styles-wrapper .has-bg-background-color {
  background-color: var(--markiter-bg-color);
}
.editor-styles-wrapper .has-alt-bg-color {
  color: var(--markiter-alt-bg-color);
}
.editor-styles-wrapper .has-alt-bg-background-color {
  background-color: var(--markiter-alt-bg-color);
}
.editor-styles-wrapper .has-fg-color {
  color: var(--markiter-fg-color);
}
.editor-styles-wrapper .has-fg-background-color {
  background-color: var(--markiter-fg-color);
}
.editor-styles-wrapper .has-accent-color {
  color: var(--markiter-accent-color);
}
.editor-styles-wrapper .has-accent-background-color {
  background-color: var(--markiter-accent-color);
}
.editor-styles-wrapper .has-border-color {
  color: var(--markiter-border-color);
}
.editor-styles-wrapper .has-border-background-color {
  background-color: var(--markiter-border-color);
}
.editor-styles-wrapper .has-input-color {
  color: var(--markiter-input-color);
}
.editor-styles-wrapper .has-input-background-color {
  background-color: var(--markiter-input-color);
}
.editor-styles-wrapper .has-small-font-size {
  font-size: var(--markiter-small-font-size);
}
.editor-styles-wrapper .has-normal-font-size {
  font-size: var(--markiter-normal-font-size);
}
.editor-styles-wrapper .has-medium-font-size {
  font-size: var(--markiter-medium-font-size);
}
.editor-styles-wrapper .has-large-font-size {
  font-size: var(--markiter-large-font-size);
}
.editor-styles-wrapper .has-extra-large-font-size {
  font-size: var(--markiter-extra-large-font-size);
}

.editor-styles-wrapper p.wp-block.has-drop-cap:not(:focus):first-letter {
  font-size: 3.5em;
  font-weight: bold;
  margin: 0.2em 0.1em 0 0;
}

.editor-styles-wrapper h1.wp-block,
.editor-styles-wrapper h2.wp-block,
.editor-styles-wrapper h3.wp-block,
.editor-styles-wrapper h4.wp-block,
.editor-styles-wrapper h5.wp-block,
.editor-styles-wrapper h6.wp-block {
  font-family: "Francois One", serif;
  margin-bottom: 17.5px;
}
.editor-styles-wrapper h1.wp-block,
.editor-styles-wrapper h2.wp-block,
.editor-styles-wrapper h3.wp-block {
  line-height: 1.25;
}
.editor-styles-wrapper h1.wp-block {
  font-size: var(--markiter-extra-large-font-size) !important;
}
.editor-styles-wrapper h2.wp-block {
  font-size: var(--markiter-large-font-size) !important;
}
.editor-styles-wrapper h3.wp-block {
  font-size: var(--markiter-medium-font-size) !important;
}
.editor-styles-wrapper h4.wp-block {
  font-size: var(--markiter-normal-font-size) !important;
}
.editor-styles-wrapper h5.wp-block,
.editor-styles-wrapper h6.wp-block {
  font-size: var(--markiter-small-font-size) !important;
}

.editor-styles-wrapper ol, .editor-styles-wrapper ul {
  list-style: decimal;
  padding-left: 35px;
}
.editor-styles-wrapper ol ol, .editor-styles-wrapper ol ul, .editor-styles-wrapper ul ol, .editor-styles-wrapper ul ul {
  margin-bottom: 0;
  margin-top: 0;
}
.editor-styles-wrapper ol li, .editor-styles-wrapper ul li {
  margin-bottom: 8.75px;
  margin-top: 8.75px;
}
.editor-styles-wrapper ul {
  list-style: disc;
}

.editor-styles-wrapper blockquote.wp-block-quote, .editor-styles-wrapper blockquote.wp-block-quote.is-style-large {
  border-left: solid 0.25rem var(--markiter-alt-bg-color);
  border-right: none;
  padding: 35px 0 35px 35px;
}
.editor-styles-wrapper blockquote.wp-block-quote p, .editor-styles-wrapper blockquote.wp-block-quote.is-style-large p {
  margin-bottom: 17.5px;
  font-size: var(--markiter-normal-font-size);
  font-style: normal;
}
.editor-styles-wrapper blockquote.wp-block-quote p:last-child, .editor-styles-wrapper blockquote.wp-block-quote.is-style-large p:last-child {
  margin-bottom: 0;
}
.editor-styles-wrapper blockquote.wp-block-quote .wp-block-quote__citation, .editor-styles-wrapper blockquote.wp-block-quote.is-style-large .wp-block-quote__citation {
  color: var(--markiter-fg-color);
  font-size: var(--markiter-small-font-size);
  font-weight: bold;
}
.editor-styles-wrapper blockquote.wp-block-quote.is-style-large p {
  font-size: var(--markiter-medium-font-size);
}

.editor-styles-wrapper pre.wp-block-code code,
.editor-styles-wrapper pre.wp-block-preformatted {
  background-color: var(--markiter-alt-bg-color);
  color: var(--markiter-fg-color);
  font-family: "Courier New", "Courier", monospace;
  font-size: var(--markiter-small-font-size);
  overflow-x: auto;
  padding: 35px;
}
.editor-styles-wrapper pre.wp-block-code {
  border: none;
  padding: 0;
}

.editor-styles-wrapper .wp-block-image figcaption,
.editor-styles-wrapper .wp-block-video figcaption,
.editor-styles-wrapper .wp-block-embed.is-type-video figcaption {
  color: var(--markiter-fg-color);
  font-size: var(--markiter-small-font-size);
}

.editor-styles-wrapper .wp-block-media-text .wp-block-media-text__content {
  padding: 35px;
}

.editor-styles-wrapper .wp-block-cover.has-background-dim {
  background-color: var(--markiter-fg-color);
}
.editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1130px;
  padding-left: 0;
  padding-right: 0;
}
.editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container .wp-block {
  max-width: none;
}
.inner-container-320 .editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  padding-left: 0;
  padding-right: 0;
}
.inner-container-480 .editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container, .inner-container-xs .editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  padding-left: 0;
  padding-right: 0;
}
.inner-container-720 .editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container, .inner-container-sm .editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  padding-left: 0;
  padding-right: 0;
}
.inner-container-960 .editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container, .inner-container-md .editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  padding-left: 0;
  padding-right: 0;
}

.editor-styles-wrapper .wp-block-buttons {
  margin-bottom: 35px;
  margin-top: 0;
}
.editor-styles-wrapper .wp-block-buttons:last-child {
  margin-bottom: 0;
}
.wp-block[data-align=left] > .editor-styles-wrapper .wp-block-buttons, .wp-block[data-align=right] > .editor-styles-wrapper .wp-block-buttons {
  float: none;
  margin-bottom: 35px !important;
  max-width: none;
}
.wp-block[data-align=left] > .editor-styles-wrapper .wp-block-buttons {
  margin-right: 0;
  text-align: left;
}
.wp-block[data-align=right] > .editor-styles-wrapper .wp-block-buttons {
  margin-left: 0;
  text-align: right;
}
.editor-styles-wrapper .wp-block-button {
  margin-bottom: 8px !important;
}
.editor-styles-wrapper .wp-block-button .wp-block-button__link {
  background-color: var(--markiter-accent-color);
  border-color: var(--markiter-accent-color);
  color: var(--markiter-bg-color);
  border-width: 0.1rem;
  border-style: solid;
  border-radius: 0.2rem;
  cursor: pointer;
  display: inline-block;
  padding: 0.3375rem 0.9375rem;
  text-decoration: none;
  width: auto;
}
.editor-styles-wrapper .wp-block-button .wp-block-button__link:active, .editor-styles-wrapper .wp-block-button .wp-block-button__link:focus, .editor-styles-wrapper .wp-block-button .wp-block-button__link:hover {
  background-color: var(--markiter-fg-color);
  border-color: var(--markiter-fg-color);
  color: var(--markiter-bg-color);
  border-width: 0.1rem;
  border-style: solid;
  border-radius: 0.2rem;
  cursor: pointer;
  display: inline-block;
  padding: 0.3375rem 0.9375rem;
  text-decoration: none;
  width: auto;
}
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link {
  background-color: transparent;
  border-color: var(--markiter-accent-color);
  color: var(--markiter-accent-color);
  border-width: 0.1rem;
  border-style: solid;
  border-radius: 0.2rem;
  cursor: pointer;
  display: inline-block;
  padding: 0.3375rem 0.9375rem;
  text-decoration: none;
  width: auto;
}
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:active, .editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:focus, .editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:hover {
  background-color: var(--markiter-accent-color);
  border-color: var(--markiter-accent-color);
  color: var(--markiter-bg-color);
  border-width: 0.1rem;
  border-style: solid;
  border-radius: 0.2rem;
  cursor: pointer;
  display: inline-block;
  padding: 0.3375rem 0.9375rem;
  text-decoration: none;
  width: auto;
}

.editor-styles-wrapper .wp-block-columns {
  margin-bottom: 35px;
}
.editor-styles-wrapper .wp-block-columns:last-child {
  margin-bottom: 0;
}
.editor-styles-wrapper .wp-block-column {
  margin-bottom: 35px;
  margin-left: 0;
  margin-right: 0;
}
.editor-styles-wrapper .wp-block-column:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .editor-styles-wrapper .wp-block-column {
    margin-bottom: 0;
    margin-left: 35px;
    margin-right: 35px;
  }
  .editor-styles-wrapper .wp-block-column:first-child {
    margin-left: 0;
  }
  .editor-styles-wrapper .wp-block-column:last-child {
    margin-right: 0;
  }
}

.wp-block[data-align=full] > .editor-styles-wrapper .wp-block-group, .wp-block[data-align=full] > .editor-styles-wrapper .wp-block-group.has-background {
  margin-bottom: 0;
  margin-top: 0;
}
.editor-styles-wrapper .wp-block-group .wp-block-group__inner-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1130px;
  padding-left: 0;
  padding-right: 0;
}
.editor-styles-wrapper .wp-block-group .wp-block-group__inner-container .wp-block {
  max-width: none;
}
.editor-styles-wrapper .wp-block-group.inner-container-320 .wp-block-group__inner-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  padding-left: 0;
  padding-right: 0;
}
.editor-styles-wrapper .wp-block-group.inner-container-480 .wp-block-group__inner-container, .editor-styles-wrapper .wp-block-group.inner-container-xs .wp-block-group__inner-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  padding-left: 0;
  padding-right: 0;
}
.editor-styles-wrapper .wp-block-group.inner-container-720 .wp-block-group__inner-container, .editor-styles-wrapper .wp-block-group.inner-container-sm .wp-block-group__inner-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  padding-left: 0;
  padding-right: 0;
}
.editor-styles-wrapper .wp-block-group.inner-container-960 .wp-block-group__inner-container, .editor-styles-wrapper .wp-block-group.inner-container-md .wp-block-group__inner-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  padding-left: 0;
  padding-right: 0;
}

/*# sourceMappingURL=style-editor.css.map */
