.editor-styles-wrapper > * {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Quattrocento Sans", serif;
  font-size: 20px;
  line-height: 1.75;
}

.editor-styles-wrapper .wp-block {
  margin-bottom: 35px;
  margin-top: 0;
  max-width: 720px;
  /**
   * Default color styles
   * -----------------------------------------------------------------------------
   */
  /**
   * Font size styles
   * -----------------------------------------------------------------------------
   */
}
.editor-styles-wrapper .wp-block:last-child {
  margin-bottom: 0;
}
.editor-styles-wrapper .wp-block.has-bg-color {
  color: #FFFFFF;
}
.editor-styles-wrapper .wp-block.has-bg-background-color {
  background-color: #FFFFFF;
}
.editor-styles-wrapper .wp-block.has-alt-bg-color {
  color: #ECE4FE;
}
.editor-styles-wrapper .wp-block.has-alt-bg-background-color {
  background-color: #ECE4FE;
}
.editor-styles-wrapper .wp-block.has-text-color {
  color: #190248;
}
.editor-styles-wrapper .wp-block.has-text-background-color {
  background-color: #190248;
}
.editor-styles-wrapper .wp-block.has-accent-color {
  color: #722EF9;
}
.editor-styles-wrapper .wp-block.has-accent-background-color {
  background-color: #722EF9;
}
.editor-styles-wrapper .wp-block.has-small-font-size {
  font-size: 16px;
}
.editor-styles-wrapper .wp-block.has-normal-font-size {
  font-size: 20px;
}
.editor-styles-wrapper .wp-block.has-medium-font-size {
  font-size: 25px;
}
.editor-styles-wrapper .wp-block.has-large-font-size {
  font-size: 32px;
}
.editor-styles-wrapper .wp-block.has-extra-large-font-size {
  font-size: 41px;
}
.editor-styles-wrapper .wp-block.has-large-font-size, .editor-styles-wrapper .wp-block.has-extra-large-font-size {
  line-height: 1.25;
}

/**
 * Paragraph block styles
 * -----------------------------------------------------------------------------
 */
.editor-styles-wrapper p.has-background {
  padding: 35px;
}
.editor-styles-wrapper p.has-drop-cap:not(:focus):first-letter {
  font-size: 3.5em;
  font-weight: bold;
  margin: 0.2em 0.1em 0 0;
}

/**
 * Headings block styles
 * -----------------------------------------------------------------------------
 */
.editor-styles-wrapper h1.has-background,
.editor-styles-wrapper h2.has-background,
.editor-styles-wrapper h3.has-background,
.editor-styles-wrapper h4.has-background,
.editor-styles-wrapper h5.has-background,
.editor-styles-wrapper h6.has-background {
  padding: 35px;
}
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3 {
  line-height: 1.25;
}
.editor-styles-wrapper h1 {
  font-size: 41px !important;
}
.editor-styles-wrapper h2 {
  font-size: 32px !important;
}
.editor-styles-wrapper h3 {
  font-size: 25px !important;
}
.editor-styles-wrapper h4 {
  font-size: 20px !important;
}
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
  font-size: 16px !important;
}

/**
 * List block styles
 * -----------------------------------------------------------------------------
 */
.editor-styles-wrapper ol,
.editor-styles-wrapper ul {
  list-style: decimal;
  margin-left: 35px;
}
.editor-styles-wrapper ol ol, .editor-styles-wrapper ol ul,
.editor-styles-wrapper ul ol,
.editor-styles-wrapper ul ul {
  margin-bottom: 0;
  margin-top: 0;
}
.editor-styles-wrapper ol li,
.editor-styles-wrapper ul li {
  margin-bottom: 17.5px;
  margin-top: 17.5px;
}
.editor-styles-wrapper ul {
  list-style: disc;
}

/*# sourceMappingURL=style-editor.css.map */
